<fieldset class="no-border-bottom">
  <legend align="center" class="" data-hook="">
    <%= Spree::AdjustmentVersion.model_name.human %>
  </legend>
</fieldset>

<table id="adjustment-history">
  <thead>
    <tr>
      <th><%= Spree::AdjustmentVersion.human_attribute_name("version_id") %></th>
      <th><%= Spree::AdjustmentVersion.human_attribute_name("id") %></th>
      <th><%= Spree::AdjustmentVersion.human_attribute_name("amount") %></th>
      <th><%= Spree::AdjustmentVersion.human_attribute_name("label") %></th>
      <th><%= Spree::AdjustmentVersion.human_attribute_name("event") %></th>
      <th><%= Spree::AdjustmentVersion.human_attribute_name("changes") %></th>
      <th><%= Spree::AdjustmentVersion.human_attribute_name("user") %></th>
      <th><%= Spree::AdjustmentVersion.human_attribute_name("created") %></th>
    </tr>
  </thead>

  <tbody>
    <% @adjustment_versions.each do |adjustment| %>
      <% if adjustment.version_id %>
        <tr>
          <td><%= adjustment.version_id %></td>
          <td><%= adjustment.id %></td>
          <td><%= number_to_currency adjustment.amount %></td>
          <td><%= adjustment.label %></td>
          <td><%= adjustment.version_event %></td>
          <td class="align-center"><%= render partial: 'object_changes', locals: { object: adjustment } %></td>
          <td><%= adjustment.who %></td>
          <td><%= pretty_time(adjustment.version_date) %></td>
        </tr>
      <% else %>
        <tr>
          <td></td>
          <td><%= adjustment.id %></td>
          <td><%= number_to_currency adjustment.amount %></td>
          <td><%= adjustment.label %></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= pretty_time(adjustment.updated_at) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
