<fieldset class="no-border-bottom">
  <legend align="center" class="" data-hook="">
    <%= Spree::LineItemVersion.model_name.human %>
  </legend>
</fieldset>

<table>
  <thead>
    <tr>
      <th><%= Spree::LineItemVersion.human_attribute_name("version_id") %></th>
      <th><%= Spree::LineItemVersion.human_attribute_name("id") %></th>
      <th><%= Spree::LineItemVersion.human_attribute_name("product") %></th>
      <th><%= Spree::LineItemVersion.human_attribute_name("quantity") %></th>
      <th><%= Spree::LineItemVersion.human_attribute_name("price") %></th>
      <th><%= Spree::LineItemVersion.human_attribute_name("event") %></th>
      <th><%= Spree::LineItemVersion.human_attribute_name("changes") %></th>
      <th><%= Spree::LineItemVersion.human_attribute_name("user") %></th>
      <th><%= Spree::LineItemVersion.human_attribute_name("created") %></th>
    </tr>
  </thead>

  <tbody>
    <% @line_item_versions.each do |line_item| %>
      <% if line_item.version_id %>
        <tr>
          <td><%= line_item.version_id %></td>        
          <td><%= line_item.id %></td>
          <td><%= line_item.name if line_item.variant %></td>
          <td><%= line_item.quantity %></td>
          <td><%= number_to_currency line_item.price %></td>
          <td><%= line_item.version_event %></td>        
          <td class="align-center"><%= render partial: 'object_changes', locals: { object: line_item } %></td>
          <td><%= line_item.who %></td>
          <td><%= pretty_time(line_item.version_date) %></td>
        </tr>
      <% else %>
        <tr>
          <td></td>
          <td></td>
          <td><%= line_item.name if line_item.variant %></td>
          <td><%= line_item.quantity %></td>
          <td><%= number_to_currency line_item.price %></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= pretty_time(line_item.updated_at) %></td>           
        </tr>      
      <% end %>

    <% end %>
  </tbody>
</table>