<a href="javascript:$('#<%=object.class.name.demodulize.underscore%>-<%=object.version_id%>').show();" class="fa fa-search"></a>
<div id="<%=object.class.name.demodulize.underscore%>-<%=object.version_id%>" class="object-changes" style="display:none;
    position: absolute;
    width: 700px;
    left: 50%;
    margin-left: -350px;
    border: 1px solid rgb(153, 153, 153);
    display: none;
    background: white;
    z-index: 1;
    padding: 10px;
    margin-top: 20px;
  ">
<table>
  <colgroup>
    <col style="width: 30%" />
    <col style="width: 35%" />
    <col style="width: 35%" />
  </colgroup>
  <thead>
    <tr>
      <th>Property</th>
      <th>Old</th>
      <th>New</th>
    </tr>
  </thead>
  <tbody>
    <% changes = YAML.load(object.version_changes) %>
    <% changes.keys.each do |key| %>
      <% next if ['created_at', 'updated_at'].include?(key) %>
      <tr>
        <td><%= key %></td>
        <td><%= changes[key][0] %></td>
        <td><%= changes[key][1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>