<fieldset class="no-border-bottom">
  <legend align="center" class="" data-hook="">
    <%= Spree::OrderVersion.model_name.human %>
  </legend>
</fieldset>

<table id="order-history">
  <thead>
    <tr>
      <th><%= Spree::OrderVersion.human_attribute_name("version_id") %></th>
      <th><%= Spree::OrderVersion.human_attribute_name("status") %></th>
      <th><%= Spree::OrderVersion.human_attribute_name("payment_state") %></th>
      <th><%= Spree::OrderVersion.human_attribute_name("event") %></th>
      <th><%= Spree::OrderVersion.human_attribute_name("changes") %></th>
      <th><%= Spree::OrderVersion.human_attribute_name("user") %></th>
      <th><%= Spree::OrderVersion.human_attribute_name("created") %></th>
    </tr>
  </thead>

  <tbody>
    <% @versions.each do |order| %>
      <% if order.version_id %>
        <tr>
          <td><%= order.version_id %></td>
          <td><%= order.state %></td>
          <td><%= order.payment_state %></td>
          <td><%= order.version_event %></td>
          <td class="align-center"><%= render partial: 'object_changes', locals: { object: order } %></td>
          <td><%= order.who %></td>
          <td><%= pretty_time(order.version_date) %></td>
        </tr>
      <% else %>
        <tr>
          <td></td>
          <td><%= order.state %></td>
          <td><%= order.payment_state %></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= pretty_time(order.updated_at) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
