<fieldset class="no-border-bottom">
  <legend align="center" class="" data-hook="">
    <%= Spree.t(:payment_history) %>
  </legend>
</fieldset>

<table>
  <thead>
    <tr>
      <th><%= Spree.t(:version_id) %></th>
      <th><%= Spree.t(:id) %></th>
      <th><%= Spree.t(:amount) %></th>
      <th><%= Spree.t(:payment_state) %></th>
      <th><%= Spree.t(:payment_method) %></th>
      <th><%= Spree.t(:event) %></th>
      <th><%= Spree.t(:changes) %></th>
      <th><%= Spree.t(:user) %></th>
      <th><%= Spree.t(:created) %></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_versions.each do |payment| %>
      <% if payment.version_id %>
        <tr>
          <td><%= payment.version_id %></td>
          <td><%= payment.id %></td>
          <td><%= number_to_currency payment.amount %></td>
          <td><%= payment.state if payment.id %></td>
          <td><%= payment_method_name(payment) if payment.id %></td>
          <td><%= payment.version_event %></td>        
          <td class="align-center"><%= render partial: 'object_changes', locals: { object: payment } %></td>
          <td><%= payment.who %></td>
          <td><%= pretty_time(payment.version_date) %></td>
        </tr>
      <% else %>
          <td></td>
          <td><%= payment.id %></td>
          <td><%= number_to_currency payment.amount %></td>
          <td><%= payment.state if payment.id %></td>
          <td><%= payment_method_name(payment) if payment.id %></td>
          <td></td>        
          <td></td>
          <td></td>
          <td><%= pretty_time(payment.updated_at) %></td>           
      <% end %>
    <% end %>
    <tr>
    </tr>
  </tbody>
</table>