<fieldset class="no-border-bottom">
  <legend align="center" class="" data-hook="">
    <%= Spree::PaymentVersion.model_name.human %>
  </legend>
</fieldset>

<table id="payment-history">
  <thead>
    <tr>
      <th><%= Spree::PaymentVersion.human_attribute_name("version_id") %></th>
      <th><%= Spree::PaymentVersion.human_attribute_name("id") %></th>
      <th><%= Spree::PaymentVersion.human_attribute_name("amount") %></th>
      <th><%= Spree::PaymentVersion.human_attribute_name("payment_state") %></th>
      <th><%= Spree::PaymentVersion.human_attribute_name("payment_method") %></th>
      <th><%= Spree::PaymentVersion.human_attribute_name("event") %></th>
      <th><%= Spree::PaymentVersion.human_attribute_name("changes") %></th>
      <th><%= Spree::PaymentVersion.human_attribute_name("user") %></th>
      <th><%= Spree::PaymentVersion.human_attribute_name("created") %></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_versions.each do |payment| %>
      <% if payment.version_id %>
        <tr>
          <td><%= payment.version_id %></td>
          <td><%= payment.id %></td>
          <td><%= number_to_currency payment.amount %></td>
          <td><%= payment.state if payment.id %></td>
          <td><%= payment_method_name(payment) if payment.id %></td>
          <td><%= payment.version_event %></td>
          <td class="align-center"><%= render partial: 'object_changes', locals: { object: payment } %></td>
          <td><%= payment.who %></td>
          <td><%= pretty_time(payment.version_date) %></td>
        </tr>
      <% else %>
          <td></td>
          <td><%= payment.id %></td>
          <td><%= number_to_currency payment.amount %></td>
          <td><%= payment.state if payment.id %></td>
          <td><%= payment.payment_method.name if payment.id %></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= pretty_time(payment.updated_at) %></td>
      <% end %>
    <% end %>
    <tr>
    </tr>
  </tbody>
</table>
