<fieldset class="no-border-bottom">
  <legend align="center" class="" data-hook="">
    <%= Spree::ReturnAuthorizationVersion.model_name.human %>
  </legend>
</fieldset>

<table id="returns-history">
  <thead>
    <tr>
      <th><%= Spree::ReturnAuthorizationVersion.human_attribute_name("version_id") %></th>
      <th><%= Spree::ReturnAuthorizationVersion.human_attribute_name("number") %></th>
      <th><%= Spree::ReturnAuthorizationVersion.human_attribute_name("status") %></th>

      <% if Spree.solidus_gem_version >= Gem::Version.new('2.4.0') %>
        <th><%= Spree::ReturnAuthorizationVersion.human_attribute_name("total_excluding_vat") %></th>
      <% else %>
        <th><%= Spree::ReturnAuthorizationVersion.human_attribute_name("pre_tax_total") %></th>
      <% end %>

      <th><%= Spree::ReturnAuthorizationVersion.human_attribute_name("event") %></th>
      <th><%= Spree::ReturnAuthorizationVersion.human_attribute_name("changes") %></th>
      <th><%= Spree::ReturnAuthorizationVersion.human_attribute_name("user") %></th>
      <th><%= Spree::ReturnAuthorizationVersion.human_attribute_name("created") %></th>
    </tr>
  </thead>

  <tbody>
    <% @return_authorization_versions.each do |return_authorization| %>
      <% if return_authorization.version_id %>
        <tr>
          <td><%= return_authorization.version_id %></td>
          <td><%= return_authorization.number %></td>
          <td><%= return_authorization.state %></td>

          <% if Spree.solidus_gem_version >= Gem::Version.new('2.4.0') %>
            <td><%= return_authorization.order && return_authorization.display_total_excluding_vat %></td>
          <% else %>
            <td><%= return_authorization.order && return_authorization.display_pre_tax_total %></td>
          <% end %>

          <td><%= return_authorization.version_event %></td>
          <td class="align-center"><%= render partial: 'object_changes', locals: { object: return_authorization } %></td>
          <td><%= return_authorization.who %></td>
          <td><%= pretty_time(return_authorization.version_date) %></td>
        </tr>
      <% else %>
        <tr>
          <td></td>
          <td><%= return_authorization.number %></td>
          <td><%= return_authorization.state %></td>

          <% if Spree.solidus_gem_version >= Gem::Version.new('2.4.0') %>
            <td><%= return_authorization.order && return_authorization.display_total_excluding_vat %></td>
          <% else %>
            <td><%= return_authorization.order && return_authorization.display_pre_tax_total %></td>
          <% end %>

          <td></td>
          <td></td>
          <td></td>
          <td><%= pretty_time(return_authorization.updated_at) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
