<table>
  <thead>
    <tr>
      <th><%= Spree.t(:version_id) %></th>
      <th><%= Spree.t(:id) %></th>
      <th><%= Spree.t(:tracking_number) %></th>
      <th><%= Spree.t(:shipment_state) %></th>
      <th><%= Spree.t(:shipping_method) %></th>
      <th><%= Spree.t(:event) %></th>
      <th><%= Spree.t(:changes) %></th>
      <th><%= Spree.t(:user) %></th>
      <th><%= Spree.t(:created) %></th>
    </tr>
  </thead>

  <tbody>
    <% @shipment_versions.each do |shipment| %>
      <tr>
        <td><%= shipment.version_id %></td>
        <td><%= shipment.id %></td>
        <td><%= shipment.tracking %></td>
        <td><%= shipment.state %></td>
        <td><%= shipment.shipping_method.name if shipment.shipping_method %></td>
        <td><%= shipment.version_event %></td>        
        <td class="align-center"><%= render partial: 'object_changes', locals: { object: shipment } %></td>
        <td><%= shipment.who %></td>
        <td><%= pretty_time(shipment.version_date) %></td>        
      </tr>
    <% end %>
  </tbody>
</table>