<fieldset class="no-border-bottom">
  <legend align="center" class="" data-hook="">
    <%= Spree::ShipmentVersion.model_name.human %>
  </legend>
</fieldset>

<table id="shipment-history">
  <thead>
    <tr>
      <th><%= Spree::ShipmentVersion.human_attribute_name("version_id") %></th>
      <th><%= Spree::ShipmentVersion.human_attribute_name("id") %></th>
      <th><%= Spree::ShipmentVersion.human_attribute_name("tracking_number") %></th>
      <th><%= Spree::ShipmentVersion.human_attribute_name("shipment_state") %></th>
      <th><%= Spree::ShipmentVersion.human_attribute_name("shipping_method") %></th>
      <th><%= Spree::ShipmentVersion.human_attribute_name("event") %></th>
      <th><%= Spree::ShipmentVersion.human_attribute_name("changes") %></th>
      <th><%= Spree::ShipmentVersion.human_attribute_name("user") %></th>
      <th><%= Spree::ShipmentVersion.human_attribute_name("created") %></th>
    </tr>
  </thead>

  <tbody>
    <% @shipment_versions.each do |shipment| %>
      <% if shipment.version_id %>
        <tr>
          <td><%= shipment.version_id %></td>
          <td><%= shipment.id %></td>
          <td><%= shipment.tracking %></td>
          <td><%= shipment.state %></td>
          <td><%= shipment.shipping_method.name if shipment.shipping_method %></td>
          <td><%= shipment.version_event %></td>
          <td class="align-center"><%= render partial: 'object_changes', locals: { object: shipment } %></td>
          <td><%= shipment.who %></td>
          <td><%= pretty_time(shipment.version_date) %></td>
        </tr>
      <% else %>
        <tr>
          <td></td>
          <td><%= shipment.id %></td>
          <td><%= shipment.tracking %></td>
          <td><%= shipment.state %></td>
          <td><%= shipment.shipping_method.name if shipment.shipping_method %></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= pretty_time(shipment.updated_at) %></td>
        </tr>
      <% end %>

    <% end %>
  </tbody>
</table>
