<% content_for :page_actions do %>  
  <li><%= button_link_to Spree.t(:back), spree.edit_admin_order_path(@order), :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render partial: 'spree/admin/shared/order_tabs', locals: { current: 'Payment History'} %>

<table>
  <thead>
    <tr>
      <th><%= Spree.t(:version_id) %></th>
      <th><%= Spree.t(:id) %></th>
      <th><%= Spree.t(:amount) %></th>
      <th><%= Spree.t(:payment_state) %></th>
      <th><%= Spree.t(:payment_method) %></th>
      <th><%= Spree.t(:event) %></th>
      <th><%= Spree.t(:changes) %></th>
      <th><%= Spree.t(:user) %></th>
      <th><%= Spree.t(:created) %></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_versions.each do |payment| %>
      <tr>
        <td><%= payment.version_id %></td>
        <td><%= payment.id %></td>
        <td><%= number_to_currency payment.amount %></td>
        <td><%= payment.state if payment.id %></td>
        <td><%= payment_method_name(payment) if payment.id %></td>
        <td><%= payment.version_event %></td>        
        <td><%= render partial: 'object_changes', locals: { order: payment } %></td>
        <td><%= payment.who %></td>
        <td><%= pretty_time(payment.version_date) %></td>
      </tr>
    <% end %>
  </tbody>
</table>