<% content_for :page_title do %>
  <%= link_to "#{Spree.t(:order)} ##{@order.number}", spree.edit_admin_order_path(@order) %>
<% end %>

<% content_for :page_actions do %>  
  <li><%= button_link_to Spree.t(:back), spree.edit_admin_order_path(@order), :icon => 'icon-arrow-left' %></li>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= Spree.t(:identifier) %></th>
      <th><%= Spree.t(:payment_state) %></th>
      <th><%= Spree.t(:payment_method) %></th>
      <th><%= Spree.t(:updated_at) %></th>
      <th><%= Spree.t(:user) %></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_versions.each do |payment| %>
      <tr>
        <td><%= payment.id %></td>
        <td><%= Spree.t(payment.state, scope: :payment_states) %></td>
        <td><%= payment_method_name(payment) %></td>
        <td><%= pretty_time(payment.updated_at) %></td>
        <td><%= payment.who %></td>
      </tr>
    <% end %>
  </tbody>
</table>