<% content_for :page_actions do %>  
  <li><%= button_link_to Spree.t(:back), spree.edit_admin_order_path(@order), :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render partial: 'spree/admin/shared/order_tabs', locals: { current: 'Audit Trail'} %>

<%= render partial: 'order_versions' %>

<%= render partial: 'line_item_versions' %>

<%= render partial: 'adjustment_versions' %>

<%= render partial: 'payment_versions' %>

<%= render partial: 'shipment_versions' %>

<%= render partial: 'return_authorization_versions' %>

<script>
$(function(){
  $(document).on('click', 'body', function(){
    $('.object-changes').hide();
  });
});
</script>