<% content_for :page_actions do %>  
  <li><%= button_link_to Spree.t(:back), spree.edit_admin_order_path(@order), :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render partial: 'spree/admin/shared/order_tabs', locals: { current: 'Audit Trail'} %>

<fieldset class="no-border-bottom">
  <legend align="center" class="" data-hook="">
    <%= Spree.t(:order_history) %>
  </legend>
</fieldset>

<table>
  <thead>
    <tr>
      <th><%= Spree.t(:version_id) %></th>
      <th><%= Spree.t(:status) %></th>
      <th><%= Spree.t(:payment_state) %></th>
      <th><%= Spree.t(:event) %></th>
      <th><%= Spree.t(:changes) %></th>
      <th><%= Spree.t(:user) %></th>
      <th><%= Spree.t(:created) %></th>
    </tr>
  </thead>

  <tbody>
    <% @versions.each do |order| %>
      <tr>
        <td><%= order.version_id %></td>        
        <td><%= order.state %></td>
        <td><%= order.payment_state %></td>
        <td><%= order.version_event %></td>        
        <td class="align-center"><%= render partial: 'object_changes', locals: { object: order } %></td>
        <td><%= order.who %></td>
        <td><%= pretty_time(order.version_date) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<fieldset class="no-border-bottom">
  <legend align="center" class="" data-hook="">
    <%= Spree.t(:payment_history) %>
  </legend>
</fieldset>


<%= render partial: 'payment_versions' %>

<fieldset class="no-border-bottom">
  <legend align="center" class="" data-hook="">
    <%= Spree.t(:shipment_history) %>
  </legend>
</fieldset>

<%= render partial: 'shipment_versions' %>

<fieldset class="no-border-bottom">
  <legend align="center" class="" data-hook="">
    <%= Spree.t(:return_authorization_history) %>
  </legend>
</fieldset>


<%= render partial: 'return_authorization_versions' %>

<script>
$(function(){
  $(document).on('click', 'body', function(){
    $('.object-changes').hide();
  });
});
</script>