<% content_for :page_actions do %>  
  <li><%= button_link_to Spree.t(:back), spree.edit_admin_order_path(@order), :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render partial: 'spree/admin/shared/order_tabs', locals: { current: 'Order History'} %>

<table>
  <thead>
    <tr>
      <th><%= Spree.t(:version_id) %></th>
      <th><%= Spree.t(:status) %></th>
      <th><%= Spree.t(:payment_state) %></th>
      <th><%= Spree.t(:event) %></th>
      <th><%= Spree.t(:changes) %></th>
      <th><%= Spree.t(:user) %></th>
      <th><%= Spree.t(:created) %></th>
    </tr>
  </thead>

  <tbody>
    <% @versions.each do |order| %>
      <tr>
        <td><%= order.version_id %></td>        
        <td><%= order.state %></td>
        <td><%= order.payment_state %></td>
        <td><%= order.version_event %></td>        
        <td><%= render partial: 'object_changes', locals: { order: order } %></td>
        <td><%= order.who %></td>
        <td><%= pretty_time(order.version_date) %></td>
      </tr>
    <% end %>
  </tbody>
</table>